.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-flow: row wrap;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

input {
  min-width: 200px;
  padding: 3px;
  font-size: 18px;
  font-style: italic;
  color: #444;
  min-height: 30px;
}

#searchResults {
  display: flex;
  z-index: 1500;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 15px;
}

h3 {
  /* background-color: grey; */
  color: black;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: row no-wrap;
}

.centerSpin {
  display: flex;
  flex: 1 1 0n;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 200px;
  /* flex-flow: row wrap; */
}

.searchRes {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  flex-flow: row no-wrap;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.searchImages {
  height: 15%;
  width: 100%;
  min-width: 150px;
  min-height: 75px;
  max-width: 150px;
  max-height: 75px;
}
